* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: #073b4c;
  --blue: #118ab2;
  --green: #06d6a0;
  --yellow: #ffd166;
  --red: #ef476f;
}

body {
  background-color: var(--dark-blue);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main {
  width: 950px;
  background-color: var(--blue);
  border-radius: 20px;
  padding: 50px;
  margin: 10px;
  letter-spacing: 1.5px;
}

h1 {
  color: var(--yellow);
  margin-bottom: 50px;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 80px;
  border-radius: 5px;
  padding: 10px 0;
  font-family: "Pacifico", cursive;
}

h1:hover {
  cursor: default;
}

.input-area {
  display: flex;
  flex-direction: row;
}

#newItemInput {
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

#newItemInput:focus {
  outline: none;
}

#newItemInput:hover {
  cursor: pointer;
}

#addItemButton {
  background-color: var(--blue);
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 200px;
}

#addItemButton:hover {
  background-color: var(--green);
}

#todoList {
  list-style: none;
  margin-top: 50px;
  margin-bottom: 40px;
}

#todoList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 8px 10px 20px;
  border: 4px solid var(--yellow);
  border-radius: 50px;
  margin-top: 10px;
  height: 50px;
}

#todoList li:hover {
  cursor: pointer;
}

#todoList li label:hover {
  cursor: pointer;
  font-size: 20px;
}

#todoList li button {
  background-color: var(--blue);
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 5px 20px;
  cursor: pointer;
  height: 30px;
  font-weight: 600;
  font-size: 16px;
}

#todoList li button:hover {
  background-color: var(--red);
}
